/* Page Colors
Navy Blue						#15145F
Sky Blue (Darker)				#559FD3
Sky Blue (Lighter)				#8CD1F4
Old - Grey (Wrapper Background)	#D4D4D6
Current Wrapper Background		#fff
*/



/* Generic Page Elements ------------------------------ */


h1, h2, h3, h4, h5, h6{
	margin: 0;

}

p{
	margin: 0;
	padding: 4px;

}


#wrapper{
	width: 960px;
	margin: 0 auto;
	background: #fff;
	box-shadow:0px 0px 20px #606060;

}

body {
	color: #15145F;
	background: #fff url("../images/camera_bg.gif") repeat fixed;
	font: 14px 'Basic', sans-serif;
	margin: 0 auto;
	padding: 0px;

}

h1{
	font: 31px 'Denk One', sans-serif;
	text-align: left;
	margin: 0 auto;
	text-indent: 25px;
	text-shadow: 2px 2px 2px #111;
}

ul{
	list-style-type: circle;

}



/* Featured Article ------------------------------ */

article{
	background: #8CD1F4;
	width: 960px;
	height: 310px;
	margin: 30px 0px 3px;
	padding: 0px;

}


/* Definition: Featured Paragraph Positioning ------------------------ */

#definitionparaPadding{
	padding: 20px;

}

/* CTA (More Details...) Button Positioning ------------------------ */

#moredetailsButton{
	padding: 10px;

}


/* Orange Gradient Button ------------------------------ */

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}



/* Button - General Style ------------------------------ */

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


/* Main Section (Different Types of Still Cameras) ------------------------------ */

#mainSection{
	width: 900px;
	padding: 20px;
	margin: 5px auto;	


}


#membershipDiv{
	width: 960px;
	height: 500px;
	padding: 20px;
	background-color: #D4D4D6;

}





/* Footer ------------------------------ */

footer{
	background: #8CD1F4;
	margin: 0 auto;
	padding: 10px;
}


.footerParagraphs{
	text-align: center;

}



/* Global Links ------------------------------ */

a:link{
	color: #15145F;
	text-decoration: none;
}

a:visited{
	color: #B72EB7;
}

a:hover{
	color: #8CD1F4;
}

a:active{
	color: #fff;
}



/* Float / Clear CSS ------------------------------ */

.floatfeaturedLeft{
	float: left;
	width: 380px;
	padding: 20px

}

.floatLeft{
	clear: right;
	float: left;
	background: #559FD3;
	opacity: 0.8;
	width: 300px;
	padding: 10px;
	margin: 0px 0px 30px 0px;	
}


.clearBoth{
	clear: both;

}


/* Nav Elements ------------------------------ */

#navList{
   width: 720px;
   margin: 0 auto;
   background: #15145F;
   list-style-type: none;
   padding: 0;
   float: right;
   overflow: hidden;
}

.navListItem{
	width: 120px;
	background: #8CD1F4;
	float: left;
}

.navLink{
	text-decoration: none;
	background: #8CD1F4;
	display: block;
	height: 35px;
	line-height: 30px;
	text-align: center;
	color: #15145F;
}

.navLink:hover{
	color: #fff;
	background: #15145F;
}



/* Camera Types Gallery ------------------------------ */

#galleryList{
	list-style-type: none;
	width: 800px;
	margin: 5px auto;
	overflow: hidden;
	padding: 5px;
}

.galleryListItem{
	float: left;
	margin-left: 20px;
	margin-top: 20px;	
}

.galleryLink{
	border: 10px solid #8CD1F4;
	display: block;
	width: 150px;
	height: 130px;
	outline: 0;
}
