/* Page Colors
Navy Blue						#15145F
Sky Blue (Darker)				#559FD3
Sky Blue (Lighter)				#8CD1F4
Old - Grey (Wrapper Background)	#D4D4D6
Current Wrapper Background		#fff
*/

/* Generic Page Elements ------------------------------ */
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p{
	margin: 0;
	padding: 0.416666666667%; /*4px;*/
}

#wrapper{
	width: 75%; /*960px; deviated*/
	margin: 0 auto;
	background: #fff;
	box-shadow:0px 0px 20px #606060;
}

body {
	color: #15145F;
	background: #fff url("../images/camera_bg.gif") repeat fixed;
	font: 87.5% 'Basic', sans-serif;  /*14px/16px*/
	margin: 0 auto;
	padding: 0px;
}

h1{
	font: 193.75% 'Denk One', sans-serif; /*31px/16px*/
	text-align: left;
	margin: 0 auto;
	text-indent: 25px;
	text-shadow: 2px 2px 2px #111;
}

h2{
	font: 180% 'Basic', sans-serif; /*31px/16px*/
	text-align: left;
	margin: 0 auto;

}

ul{
	list-style-type: circle;
}


/* Featured Article Background Container------------------------------ */

article{
	background: #8CD1F4;
	width: 100%; /*960px;*/
	height: 340px;
	margin: 3.125% 0% 0.3125%; /*30px 0px 3px; divided by 960px*/
	padding: 0%; /*0px*/

}

.floatfeaturedTEXTLeft{
	float: left;
	width: 39.583333333333%; /*380px/960px;*/
	padding: 10px; /*5.263157894737%; /*20px/380;*/
}


.floatfeaturedImage{
	clear: right;	
	width: 100%;
	float: left;
}

/* Definition: Featured Paragraph Positioning ------------------------ */
.definitionparaPaddingCOLUMNS{
	float: none;
	padding: 2.083333333333%; /*20px/960px;*/
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	width: 55%;
}



/* CTA (More Details...) Button Positioning ------------------------ */
#moredetailsButton{
	float: left;
	padding: 10px;
	margin-left: 500px;
}


/* Orange Gradient Button ------------------------------ */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* Button - General Style ------------------------------ */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* Main Section (Different Types of Still Cameras) ------------------------------ */
#mainSection{
	clear: left;
	width: 75%; /*920px;*/
	padding: 2.173913043478%; /*20px/920;*/
	margin: 0.217391304348%; /*5px auto;	*/
}


/* Float / Clear CSS:  Bulleted Columns - floatLeft and Footer - Clear Both ------------------------------ */

.floatLeft{
	clear: right;
	float: left;
	background: #559FD3;
	opacity: 0.8;
	width: 31.25%; /*300px/960*/;
	padding: 1.041666666667% 0% 1.041666666667% 2.083333333333%; /*10px 0px 10px 20px;*/
	margin: 0% 0% 3.125%; /*0px 0px 30px 0px;*/	
}

.clearBoth{
	clear: both;

}


/* Membership Box ------------------------------ */
#membershipDiv{
	width: 95.833333333333%; /*920px/960px;*/
	height: 510px;
	padding: 2.083333333333%; /*20px/960;*/
	background-color: #D4D4D6;
}


/* Packages Table ------------------------------ */
#Packages{
		float:left;
		margin: 2.083333333333% 0% 0% 16.666666666667%; /*20px 0px 0px 160px;*/

}		

table {
		border-collapse:collapse;
		border: 1px solid #559FD3;
		margin: 3.125% 0% 0%; /*30px 0px 0px;*/
		
}

td{
	border:1px solid #559FD3;
	padding:0.3em;

}

th{
	text-align:left;
	background-color:#559FD3;
	color:#15145F;
	padding:0.3em;
}

/* Form ------------------------------ */
#signupFormDiv{
	margin: 2.083333333333% 0% 0% 11.458333333333%; /*20px 0px 0px 110px;*/
	float: left;
}

form{
	margin: 3.125% 0% 0%; /*30px 0px 0px;*/
}

input:focus{
			background: #8CD1F4;
}


/* Footer ------------------------------ */
footer{
	background: #8CD1F4;
	margin: 0 auto;
	padding: 1.041666666667%; /*10px;*/
}

.footerParagraphs{
	text-align: center;
}

/* Global Links ------------------------------ */
a:link{
	color: #15145F;
	text-decoration: none;
}

a:visited{
	color: #B72EB7;
}

a:hover{
	color: #8CD1F4;
}

a:active{
	color: #fff;
}


/* Nav Elements ------------------------------ */
#navList{
   width: 67.69%; /*720px;*/
   margin: 0 auto;
   background: #15145F;
   list-style-type: none;
   padding: 0;
   float: right;
   overflow: hidden;
}

.navListItem{
	width: 16.666666666667%; /*120px/720px;*/
	background: #8CD1F4;
	float: left;
}

.navLink{
	text-decoration: none;
	background: #8CD1F4;
	display: block;
	height: 35px;
	line-height: 30px;
	text-align: center;
	color: #15145F;
}

.navLink:hover{
	color: #fff;
	background: #15145F;
}

/* Camera Types Gallery ------------------------------ */
#galleryList{
	list-style-type: none;
	width: 95%; /*86.95652173913%; /*800px/960; deviated from calculations to fit*/
	margin: 0.520833333333% auto; /*5px auto;*/
	overflow: hidden;
	padding: 0.625%; /*5px;*/
}

.galleryListItem{
	float: left;
	margin-left: 2.083333333333%; /*20px;*/
	margin-top: 2.083333333333%; /*20px;*/	
}

.galleryLink{
	border: 10px solid #8CD1F4; /*1.041666666667% solid #8CD1F4;*/
	display: block;
	width: 150px; /*0.15625%;*/ 
	height: 130px;
	outline: 0;
}

/* =Media Queries
======================================================================
----------------------------------------------------------------------*/


/* Tablet Portrait Size to standard 960 (devices and browsers) 
======================================================================*/
@media screen and (min-width: 768px) and (max-width: 959px) {

article{
	background: #559FD3;
}

.floatLeft{
	clear: right;
	float: none;
	width: 98%; /*300px/960*/;
}



.definitionparaPaddingCOLUMNS{
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
}


}

/* Mobile Landscape Size to Tablet Portrait Size (devices and browsers) 
======================================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

 .definitionparaPaddingCOLUMNS{
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
}

article{
	background: #559FD3;
}

h1{
	font: 200% 'Denk One', sans-serif; /*31px/16px*/
	text-align: center;
	margin: 10% auto;
	/*text-indent: 25px;*/
	text-shadow: 2px 2px 2px #111;
}	


.floatLeft{
	clear: right;
	float: none;
	background: #559FD3;
	opacity: 0.8;
	width: 98%; /*300px/960*/;
	padding: 1.041666666667% 0% 1.041666666667% 2.083333333333%; /*10px 0px 10px 20px;*/
	margin: 0% 0% 3.125%; /*0px 0px 30px 0px;*/	
}

#navList{
   width: 67.69%; /*720px;*/
   margin: 0 auto;
   background: #15145F;
   list-style-type: none;
   padding: 0;
   float: none;
   overflow: hidden;
}

.navListItem{
	width: 100%; /*120px/720px;*/
	margin: 5% 0% 5%;
	background: #8CD1F4;
	float: none;
}

.navLink{
	text-decoration: none;
	background: #8CD1F4;
	display: block;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #15145F;
}

.navLink:hover{
	color: #fff;
	background: #15145F;
}

.floatfeaturedImage{
	display: none;
}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 
======================================================================*/
@media screen and (max-width: 479px) {

.definitionparaPaddingCOLUMNS{
	-moz-column-count:1; /* Firefox */
	-webkit-column-count:1; /* Safari and Chrome */
	column-count:1;
}


article{
	background: #D4D4D6;
}

h1{
	font: 200% 'Denk One', sans-serif; /*31px/16px*/
	text-align: center;
	margin: 10% auto;
	/*text-indent: 25px;*/
	text-shadow: 2px 2px 2px #111;
}	

.floatLeft{
	clear: right;
	float: none;
	background: #559FD3;
	opacity: 0.8;
	width: 98%; /*300px/960*/;
	padding: 1.041666666667% 0% 1.041666666667% 2.083333333333%; /*10px 0px 10px 20px;*/
	margin: 0% 0% 3.125%; /*0px 0px 30px 0px;*/	
}


#navList{
   width: 67.69%; /*720px;*/
   margin: 0 auto;
   background: #15145F;
   list-style-type: none;
   padding: 0;
   float: none;
   overflow: hidden;
}

.navListItem{
	width: 100%; /*120px/720px;*/
	margin: 5% 0% 5%;
	background: #8CD1F4;
	float: none;
}

.navLink{
	text-decoration: none;
	background: #8CD1F4;
	display: block;
	height: 80px;
	line-height: 80px;
	text-align: center;
	color: #15145F;
}

.navLink:hover{
	color: #fff;
	background: #15145F;
}
/*article, section, aside {
	float: none;
}*/
.floatfeaturedImage{
	display: none;
}

}